@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,400&display=swap');

:root
{
    --primary-color:#7C3AED;
    --grey-color:#6b7280;
    --off-white:#d1d5db;
}
body
{
    font-family: 'Montserrat', sans-serif;
    margin:0px
}
/**container class **/
.container
{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-centre
{
    max-width: 900px;
    margin:auto;
    color:var(--primary-color)
}
.container-centre-projects
{
    max-width: 700px;
    margin:auto;
    
}
.container-centre h2
{
    color:black;
}
hr{
    margin : 2.5 rem ,0rem
}
/** Links **/
.links
{
    padding: 1rem 1rem;
    text-decoration: none;
    text-align: center;
}
.primary-link
{
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color:white;
    text-align: center;

}

.Secondary-link
{
    color: var(--primary-color);
    border-radius:0.5rem;
    padding: 0.5rem 1rem;
    border:1px solid var(--primary-color);
    
    text-decoration: none;

}


/** List **/

.list-non-bullet
{
    list-style: none;
}

.head-list
{
    display: inline;
}
.list-item-inline
{
    color:var(--primary-color);
   display: inline-block;
    padding : 0.5rem 8rem;

}

.navigation
{
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation-brand
{
    font-weight: bold;
    font-size: 1.1rem;
}
.navigation .links
{
    text-align: right;
    color : white;
}

.navigation .nav-pills
{
    text-align: right;
}
.navigation .link-active
{
    font-weight: bold;
    
}

.hero
{
    padding: 2rem;
}
.hero .hero-img
{
    max-width:350px;
    display:block;
    margin :auto;
}
.hero .hero-heading
{
    text-align: center;
    color:var(--grey-color);
}

.hero .hero-heading .heading-inverted
{
    color: var(--primary-color);
}
.section .h1,h2,h3
{
    text-align:center;
    padding : 2rem;

}
.section
{
    padding: 2rem;
    margin:2rem 0rem;
}
.ow
{

   background-color: var(--off-white);
   padding-top: 1rem;
   padding-bottom: 1rem;
}

.footer
{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    text-align: center;
    color:white;
}
.footer .links
{
    color: white;
}

.footer ul
{
  padding-inline-start: 0rem;
}